
name: Setup Melange Build Environment
on:
  workflow_call:
    inputs:
      arch:
        required: true
        type: string

jobs:
  setup:
    runs-on: ${{ inputs.arch == 'x86_64' && 'ubuntu-24.04' || 'ubuntu-24.04-arm' }}
    steps:
      - name: Set Cache Key
        id: cache
        run: echo "key=$(date -u +'%G-%V')" >> $GITHUB_OUTPUT

      - name: Check cache
        id: cache-restore
        uses: actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          key: build-dependencies-${{ inputs.arch }}-${{ steps.cache.outputs.key }}
          path: |
            /usr/local/bin/bwrap
            /usr/local/bin/melange
            /usr/local/bin/yq
          lookup-only: true

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        if: ${{ steps.cache-restore.outputs.cache-hit != 'true' }}
        with:
          go-version: '1.25'
          cache: false
          check-latest: true

      - name: Build yq
        if: ${{ steps.cache-restore.outputs.cache-hit != 'true' }}
        run: |
          git clone https://github.com/mikefarah/yq
          cd yq
          go build -o /usr/local/bin/yq yq.go
          cd ..
          rm -rf yq

      - name: Build bubblewrap
        if: ${{ steps.cache-restore.outputs.cache-hit != 'true' }}
        run: |
          sudo apt update
          sudo apt install -y libcap-dev meson ninja-build pkg-config
          git clone https://github.com/containers/bubblewrap
          cd bubblewrap
          meson setup --prefix=/usr/local -Drequire_userns=true . output
          cd output
          ninja
          sudo ninja install
          cd ../..
          rm -rf bubblewrap

      - name: Build melange
        if: ${{ steps.cache-restore.outputs.cache-hit != 'true' }}
        run: |
          git clone https://github.com/chainguard-dev/melange
          cd melange
          go build -o /usr/local/bin/melange .
          cd ..
          rm -rf melange

      - name: Save to cache
        if: ${{ steps.cache-restore.outputs.cache-hit != 'true' }}
        uses: actions/cache/save@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          key: build-dependencies-${{ inputs.arch }}-${{ steps.cache.outputs.key }}
          path: |
            /usr/local/bin/bwrap
            /usr/local/bin/melange
            /usr/local/bin/yq
