name: Melange Build

on: 
  push:
    branches: ["main"]
    paths: ["src/packages/**/melange.yaml"]

permissions:
  contents: read
  id-token: write
  attestations: write

jobs:
  changed-files:
    runs-on: ubuntu-24.04
    outputs:
      packages: ${{ steps.changed-files.outputs.all_changed_files }}   
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
      
      - name: Get Changed Files
        id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # 47.0.0
        with:
          files: src/packages/**/melange.yaml
          matrix: true

  setup:
    needs: changed-files
    if: ${{ needs.changed-files.outputs.packages != '[]' }}
    strategy:
      matrix:
        arch: [x86_64, aarch64]
      max-parallel: 2
    uses: ./.github/workflows/setup-build-dependencies.yaml
    with:
      arch: ${{ matrix.arch }}
  
  build:
    needs: [changed-files,setup]
    if: ${{ needs.changed-files.outputs.packages != '[]' }}
    strategy:
      matrix:
        packages: ${{ fromJSON(needs.changed-files.outputs.packages) }}
        arch: [x86_64, aarch64]
      max-parallel: 4
      fail-fast: false
    runs-on: ${{ matrix.arch == 'x86_64' && 'ubuntu-24.04' || 'ubuntu-24.04-arm' }}

    steps:
      - name: Retreive Cache Key
        id: cache
        run: echo "key=$(date -u +'%G-%V')" >> $GITHUB_OUTPUT

      - name: Restore build dependancies
        uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          key: build-dependencies-${{ matrix.arch }}-${{ steps.cache.outputs.key }}
          fail-on-cache-miss: true
          path: |
            /usr/local/bin/bwrap
            /usr/local/bin/melange
            /usr/local/bin/yq

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Build Package
        uses: d4rkfella/actions/melange-build@main
        with:
          arch: ${{ matrix.arch }}
          artifactory-access-token: ${{ secrets.ARTIFACTORY_ACCESS_TOKEN }}
          artifactory-url: https://packages.darkfellanetwork.com
          artifactory-repository-path: wolfi-os/latest/main
          config: ${{ matrix.packages }}
          sign-package: true
          signing-key: ${{ secrets.MELANGE_PRIVATE_KEY }}
          maintainer: darkfella
          pipeline-dir: ${{ github.workspace }}/pipelines
          repository-append: https://packages.darkfellanetwork.com/artifactory/wolfi-os/latest/main,https://packages.wolfi.dev/os
          keyring-append: https://packages.darkfellanetwork.com/artifactory/wolfi-os/melange.rsa.pub,https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
          tests-repository-append: https://packages.darkfellanetwork.com/artifactory/wolfi-os/latest/main,https://packages.wolfi.dev/os
          tests-keyring-append: https://packages.darkfellanetwork.com/artifactory/wolfi-os/melange.rsa.pub,https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
