name: Melange Build

on: 
  push:
    branches: ["main"]
    paths: ["src/packages/**/melange.yaml"]
  workflow_dispatch:
    inputs:
      package:
        description: "Package folder name (e.g. nginx, vaultwarden, etc)"
        required: true
        type: string

permissions:
  contents: read
  id-token: write
  attestations: write

jobs:
  setup-build-matrix:
    runs-on: ubuntu-24.04
    outputs:
      packages: ${{ steps.set-packages.outputs.packages }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2

      - name: Get Changed Files
        if: ${{ github.event_name == 'push' }}
        id: changed-files
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # 47.0.1
        with:
          files: src/packages/**/melange.yaml
          matrix: true

      - name: Set packages matrix output
        id: set-packages
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "packages=[\"src/packages/${{ github.event.inputs.package }}/melange.yaml\"]" >> "$GITHUB_OUTPUT"
          else
            FILES='${{ steps.changed-files.outputs.all_changed_files }}'
            if [ -z "$FILES" ]; then
              echo "packages=[]" >> "$GITHUB_OUTPUT"
            else
              echo "packages=$FILES" >> "$GITHUB_OUTPUT"
            fi
            cat "$GITHUB_OUTPUT"
          fi

  setup-build-enviroment:
    needs: setup-build-matrix
    if: ${{ needs.setup-build-matrix.outputs.packages != '[]' }}
    strategy:
      matrix:
        arch: [x86_64, aarch64]
      max-parallel: 2
    uses: ./.github/workflows/melange-build-setup.yaml
    with:
      arch: ${{ matrix.arch }}

  build:
    needs: [setup-build-matrix,setup-build-enviroment]
    if: ${{ needs.setup-build-matrix.outputs.packages != '[]' }}
    strategy:
      matrix:
        packages: ${{ fromJSON(needs.setup-build-matrix.outputs.packages) }}
        arch: [x86_64, aarch64]
      max-parallel: 4
      fail-fast: false
    runs-on: ${{ matrix.arch == 'x86_64' && 'ubuntu-24.04' || 'ubuntu-24.04-arm' }}

    steps:
      - name: Set Cache Key
        id: cache
        run: echo "key=$(date -u +'%G-%V')" >> $GITHUB_OUTPUT

      - name: Restore cached build tools
        uses: actions/cache/restore@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          key: build-dependencies-${{ matrix.arch }}-${{ steps.cache.outputs.key }}
          fail-on-cache-miss: true
          path: |
            /usr/local/bin/bwrap
            /usr/local/bin/melange
            /usr/local/bin/yq

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Build and Push to Artifactory
        uses: d4rkfella/actions/melange-build@main
        with:
          arch: ${{ matrix.arch }}
          artifactory-access-token: ${{ secrets.ARTIFACTORY_ACCESS_TOKEN }}
          artifactory-url: https://packages.darkfellanetwork.com
          artifactory-repository-path: wolfi-os/latest/main
          config: ${{ matrix.packages }}
          sign-package: true
          signing-key: ${{ secrets.MELANGE_PRIVATE_KEY }}
          maintainer: darkfella
          pipeline-dir: ${{ github.workspace }}/pipelines
          repository-append: https://packages.darkfellanetwork.com/artifactory/wolfi-os/latest/main,https://packages.wolfi.dev/os
          keyring-append: https://packages.darkfellanetwork.com/artifactory/wolfi-os/melange.rsa.pub,https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
          tests-repository-append: https://packages.darkfellanetwork.com/artifactory/wolfi-os/latest/main,https://packages.wolfi.dev/os
          tests-keyring-append: https://packages.darkfellanetwork.com/artifactory/wolfi-os/melange.rsa.pub,https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
