name: Melange Build

on: 
  push:
    branches: ["main"]
    paths: ["src/packages/**/melange.yaml"]

permissions:
  contents: read
  id-token: write
  attestations: write

jobs:
  changed-files:
    runs-on: ubuntu-24.04
    outputs:
      packages: ${{ steps.changed-files.outputs.all_changed_files }}   
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
      
      - name: Get Changed Files
        id: changed-files
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # 47.0.1
        with:
          files: src/packages/**/melange.yaml
          matrix: true

  setup:
    needs: changed-files
    if: ${{ needs.changed-files.outputs.packages != '[]' }}
    strategy:
      matrix:
        arch: [x86_64, aarch64]
      max-parallel: 2
    uses: ./.github/workflows/setup-build-dependencies.yaml
    with:
      arch: ${{ matrix.arch }}
  
  build:
    needs: [changed-files,setup]
    if: ${{ needs.changed-files.outputs.packages != '[]' }}
    strategy:
      matrix:
        packages: ${{ fromJSON(needs.changed-files.outputs.packages) }}
        arch: [x86_64, aarch64]
      max-parallel: 4
      fail-fast: false
    runs-on: ${{ matrix.arch == 'x86_64' && 'ubuntu-24.04' || 'ubuntu-24.04-arm' }}

    steps:
      - name: Retreive Cache Key
        id: cache
        run: echo "key=$(date -u +'%G-%V')" >> $GITHUB_OUTPUT

      - name: Restore build dependancies
        uses: actions/cache/restore@a7833574556fa59680c1b7cb190c1735db73ebf0 # v5.0.0
        with:
          key: build-dependencies-${{ matrix.arch }}-${{ steps.cache.outputs.key }}
          fail-on-cache-miss: true
          path: |
            /usr/local/bin/bwrap
            /usr/local/bin/melange
            /usr/local/bin/yq

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Build Package
        uses: d4rkfella/actions/melange-build@main
        with:
          arch: ${{ matrix.arch }}
          artifactory-access-token: ${{ secrets.ARTIFACTORY_ACCESS_TOKEN }}
          artifactory-url: https://packages.darkfellanetwork.com
          artifactory-repository-path: wolfi-os/latest/main
          config: ${{ matrix.packages }}
          sign-package: true
          signing-key: ${{ secrets.MELANGE_PRIVATE_KEY }}
          maintainer: darkfella
          pipeline-dir: ${{ github.workspace }}/pipelines
          repository-append: https://packages.wolfi.dev/os
          keyring-append: https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
          tests-repository-append: https://packages.wolfi.dev/os
          tests-keyring-append: https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
