name: Update Melange Packages

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  prepare-matrix:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup matrix
        id: set-matrix
        run: |
          files=$(find . -name "melange.yaml" -print0 | xargs -0 -n1 | jq -R . | jq -cs '{path: .}')
          echo "matrix=$files" >> "$GITHUB_OUTPUT"
  
  update-packages:
    needs: [prepare-matrix]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path: ${{ fromJson(needs.prepare-matrix.outputs.matrix).path }}
      fail-fast: false
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Check for updates
        id: check-updates
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          docker run --rm --user "$(id -u):$(id -g)" \
            -e GITHUB_TOKEN="$GITHUB_TOKEN" \
            -v "${{ github.workspace }}:${{ github.workspace }}" \
            -w "${{ github.workspace }}" \
            ghcr.io/d4rkfella/melange-autoupdate:rolling \
            "${{ matrix.path }}"

      - name: Read output.json
        id: read-output
        run: |
          echo "bumped=$(jq -r '.bumped' "${{ github.workspace }}/output.json")" >> $GITHUB_OUTPUT
          echo "package_name=$(jq -r '.package_name' "${{ github.workspace }}/output.json")" >> $GITHUB_OUTPUT
          echo "new_version=$(jq -r '.new_version' "${{ github.workspace }}/output.json")" >> $GITHUB_OUTPUT

      - name: Create Pull Request
        if: steps.read-output.outputs.bumped == 'true'
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          title: '${{ steps.read-output.outputs.package_name }}/${{ steps.read-output.outputs.new_version }} package update'
          add-paths: "${{ matrix.path }}"
          branch: 'update-${{ steps.read-output.outputs.package_name }}'
          body-path: "${{ github.workspace }}/pr_body.md"
          commit-message: '${{ steps.read-output.outputs.package_name }}/${{ steps.read-output.outputs.new_version }} package update'
          sign-commits: true
          labels: |
            automated-pr
            version-bump
